
:global(body) {
  color: var(--textColor);
  background-color: var(--bgColor);
  font: 15px sans-serif;
  margin: 0;
}
:global(hr) {
  border: none;
  width: 80%;
  height: 1px;
  background-color: var(--borderColor);
}
:global(input[type='text'], select, button) {
  font: inherit;
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 0.7em;
  box-sizing: border-box;
  border-radius: 4px;
}

:global(*:disabled) {
  opacity: 0.7;
}

:global(input[type='text']:focus, select:focus) {
  outline: none;
  border-color: var(--focusBorderColor);
}

:global(option) {
  background-color: var(--bgColor);
}

:global(input[type='checkbox']) {
  appearance: none;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--thickBorderColor);
  background-color: none;
}

:global(input[type='checkbox']::before) {
  content: '';
  width: 10px;
  height: 10px;
}

:global(input[type='checkbox']:checked::before) {
  background-color: white;
}