
body {
  color: var(--textColor);
  background-color: var(--bgColor);
  font: 15px sans-serif;
  margin: 0;
}
hr {
  border: none;
  width: 80%;
  height: 1px;
  background-color: var(--borderColor);
}
input[type='text'], select, button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 0.7em;
  box-sizing: border-box;
  border-radius: 4px;
}

*:disabled {
  opacity: 0.7;
}

input[type='text']:focus, select:focus {
  outline: none;
  border-color: var(--focusBorderColor);
}

option {
  background-color: var(--bgColor);
}

input[type='checkbox'] {
  appearance: none;
  flex-shrink: 0;
  display: grid;
  place-content: center;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--thickBorderColor);
  background-color: none;
}

input[type='checkbox']::before {
  content: '';
  width: 10px;
  height: 10px;
}

input[type='checkbox']:checked::before {
  background-color: white;
}